body {
  margin: 1px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-image: url('https://cdn.mos.cms.futurecdn.net/BfemybeKVXCf9pgX9WCxsc-1200-80.jpg');
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h1 {
  font-size: xx-large;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 920px; /* Adjust the max-width based on the desired container width */
  margin-top: 50px; /* Add margin to separate from the nav element */
}

.card {
  width: 145px;
  height: 170px;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 10px;
  cursor: pointer;
}

.sidebar-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.sidebar-right {
  display: flex;
  justify-content: right;
  align-items: center;
}

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.flipped {
  background-color: #eee;
  color: '';
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.button:hover {
  background-color: #45a049;
}

.button-container {
  margin-top: 20px;
  text-align: center;
  padding: 10px;
}

button[onclick='goToHomePage()'] {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

button[onclick='goToHomePage()']:hover {
  background-color: #45a049;
}
