body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 1fr auto;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-image: url('https://cdn.mos.cms.futurecdn.net/BfemybeKVXCf9pgX9WCxsc-1200-80.jpg');
  background-size: cover;
  background-position: center;
}

nav {
  grid-column: span 5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h1 {
  font-size: xx-large;
}

main {
  grid-column: 2 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 145px;
  height: 170px;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 1px;
  margin-right: 1px;
  cursor: pointer;
}

.sidebar-left {
  grid-row: 2 / span 1;
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-right {
  grid-row: 2 / span 1;
  grid-column: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  grid-column: span 5;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
